extends layout

block content
    h1= title
  
    a(href="/") Home

    ul
        each equipo in equipos
            li #{ equipo.equipo }

            ul
                each integrante in equipo.integrantes 
                    li #{ integrante }

            br
